{% extends "base.html" %}
{% block content %}
    <form method='POST' action="/subscribe" class="p-3" style="margin-top: 5%;background-color:beige;height:54vh;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 10px 6px -6px #777;border: 1px solid #eee;border-radius:4px;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div >
            <select class="form-select" aria-label="Default select example"
                name="state"
                onchange="location=this.options[this.selectedIndex].getAttribute('url_val');">
                <option hidden {% if state_id is none %}selected{% endif %} value="">Select State</option>
                {% for state in states %}
                    <option value="{{ state['state_id'] }}"
                        url_val ="{{ url_for_query(request, name='get_cities', state_id=state['state_id']) }}"
                        {% if (state_id is not none and state_id == state['state_id']) %}selected{% endif %}>
                            {{state["state_name"]}}
                    </option>
                {% endfor %}
            </select>
        </div>

        {% if districts|length > 0 %}
            <div class="mt-2">
                <select class="form-select" name="district_id" aria-label="Default select example">
                    <option hidden selected value="">Select District...</option>
                    {% for district in districts %}
                    <option value="{{district['district_id']}}">{{district["district_name"]}}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="mt-2">
            <p><mark><strong>Note:</strong> Enter your email (again) after you select a particular State</mark></p>
        </div>
        <button type="submit" class="btn btn-primary mt-2" style="margin-bottom: -20%;">Subscribe</button>
    </form>
    {% if error_message and (not isSubscriptionSuccess) %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: {{error_message}}</strong>
            Note: Contact sanpj2292 in github for debugging this issue
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock content %}